
<div class="table-responsive mat-elevation-z8">
   <mat-table matTableExporter [dataSource]="dataSource"  #exporter="matTableExporter" matSort>

    <ng-container matColumnDef="clientNum">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Client Num</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.clientNum}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="creditLimit">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Credit Limit</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.creditLimit}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalRevolvingBal">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Revolving Bal</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.totalRevolvingBal}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="avgOpenToBuy">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Avg Buy</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.avgOpenToBuy}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="amountChangeQt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Amt Chg Qt</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.amountChangeQt}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="transAmt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Trans Amt</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.transAmt}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="transCount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Trans Ct</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.transCount}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="countChangeQt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ct Chg Qt</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.countChangeQt}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="utilRatio">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Util Ratio</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.utilRatio}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="attritionFlag">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-chip-list>
          <mat-chip color="{{ row.attritionFlag == 'Existing Customer' ? 'primary' : ( row.attritionFlag == 'Attrited Customer' ? 'accent' : 'warn' ) }}" selected>
            {{row.attritionFlag}}
          </mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
